.Label {
  display: flex;
  box-sizing: border-box;
  line-height: 1;
  align-items: center;
  width: fit-content;
  background-color: transparent;
  border-style: none;
  border: solid 1px transparent;
}

.Label.rounded {
  border-radius: 12px;
}

.Label.bordered {
  border: solid 1px #d3c1e5;
}

.Label.active {
  background-color: #e5f7a9;
  color: #453257;
  border: solid 1px transparent;
}
