.Event {
  background-color: #faf9fc;
  height: 100%;
  min-height: calc(100vh - 40px);
  color: #67616d;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 12px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.detail-info .event-channel {
  margin-bottom: 12px;
}

.post-channel {
  padding: 0 10px;
  height: 20px;
  font-size: 12px;
  color: #8560a9;
}

.detail-info .event-title {
  margin-bottom: 24px;
}

.detail-avatar {
  display: flex;
}

.post-publish {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 12px;
}

.post-publish p {
  margin: 0;
}

.publish {
  color: #bababa;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.detail-description {
  display: flex;
  flex-direction: column;
}

.carousel {
  white-space: nowrap;
  margin-left: -16px;
  margin-right: -16px;
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: calc(100% - 48px);
  position: relative;
  padding: 16px 32px 12px;
}

.date .image-wrapper {
  margin-top: 2px;
  margin-right: 4px;
}

.image-going .image-wrapper,
.image-likes .image-wrapper {
  margin-bottom: 12px;
}

.carousel .image-wrapper:last-child {
  padding-right: 16px;
}

.detail-description-content {
  padding: 0 16px 19.5px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-left: 16px;
  position: relative;
}

.collapse::before {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.8) 40%,
    #faf9fc
  );
  background: -webkit-linear-gradient(
    top,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.8) 40%,
    #faf9fc
  );
  height: 75px;
  bottom: 0;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  content: '';
}

.detail-title {
  color: #8560a9;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}

.detail-title span {
  width: 4px;
  height: 18px;
  margin-bottom: -3px;
  margin-right: 4px;
  background-color: #8560a9;
  display: inline-block;
  border-radius: 8px;
}

.detail-when,
.detail-where {
  margin-top: 16.5px;
  margin-left: 16px;
  padding-bottom: 18.5px;
  border-bottom: 1px solid #e8e8e8;
}

.detail-item {
  width: calc(100% - 16px);
  justify-content: center;
}

.detail-when-date {
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e8e8e8;
  padding-right: 20px;
}
.detail-when-date:last-child {
  border-right: none;
  padding-right: 0;
  padding-left: 20px;
}

.date {
  justify-content: center;
  color: #67616d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 4px;
  margin-bottom: 6px;
}

.time {
  display: flex;
  justify-content: center;
  color: #aecb4f;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.detail-where {
  margin-left: 0;
  padding-left: 16px;
  margin-bottom: 24px;
}

.detail-where .detail-item {
  color: #67616d;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.detail-place {
  font-weight: 600;
}

.detail-address {
  margin-bottom: 8px;
}

#participant {
  margin-bottom: 20px;
}

.participants-going,
.participants-likes {
  padding: 16px;
  border-bottom: solid 1px #e8e8e8;
  position: relative;
}

.participants-going {
  padding-left: 0;
  margin-left: 16px;
}

.total-going,
.total-likes {
  min-width: 82px;
  max-width: 82px;
  margin-right: 17px;
}

.image-going,
.image-likes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.detail-comment {
  padding: 16px 16px 0;
}

.comment-user {
  flex: 1;
  padding: 0 12px;
}

.comment-user .flex-row {
  align-items: baseline;
}

.comment-user p {
  margin: 0;
  color: #8560a9;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.comment-user span {
  margin-left: 12px;
  color: #bababa;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
}

.comment-input,
.comment-bottom {
  position: fixed;
  bottom: 0;
  height: 56px;
  display: flex;
  width: 100%;
  background-color: #8560a9;
  align-items: center;
  z-index: 4;
}

.comment-input-clear {
  width: 23px;
  padding: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.comment-input-field input {
  width: calc(100% - 64px);
  height: 32px;
  border-radius: 20px;
  border: none;
  padding: 0 19px;
  color: #453257;
}

.comment-input-field input::placeholder {
  color: #d3c1e5;
  opacity: 1; /* Firefox */
}

.comment-input-field input::-ms-input-placeholder {
  color: #d3c1e5;
}

.comment-input-field input:-ms-input-placeholder {
  color: #d3c1e5;
}

.comment-input-clear svg {
  transform: rotate(45deg);
}

.comment-input-field {
  flex: 1;
}

.comment-input-send,
.comment-join {
  background-color: #d5ef7f;
  height: 100%;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-chat-love {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.comment-join {
  width: 140px;
}

#comment {
  min-height: calc(100vh - 45px);
  padding-bottom: 60px;
}

.toast {
  top: 44px;
  position: fixed;
  width: 100%;
  max-height: 50px;
  padding: 10px 0;
  text-align: center;
  background: rgba(229, 247, 169, 0.8);
  color: #8560a9;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.toast.hide {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toast.show {
  z-index: 6;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
